@use "variables" as v;

@mixin flexRow($justify: start) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin flexCol($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin baseTile($size: 370px) {
  @include flexRow(center);
  font-size: 16px;
  font-weight: 500;
  color: v.$content;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: $size;
  transition-duration: 600ms;
  text-decoration: none;
  overflow: hidden;

  &:hover {
    background-position: 65% 55%;
    transform: scale(1.02);
  }

  & > span {
    padding: v.$space-4;
  }
}

@mixin col {
  svg {
    color: v.$icon;
  }
}
