@use "variables" as v;

@mixin flexRow($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin flexCol($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin baseTile($size: 370px) {
  @include flexRow(center);
  font-size: 16px;
  font-weight: 500;
  color: v.$content;
  background-size: cover;
  background-position: center;
  height: $size;
  transition-duration: 600ms;

  &:hover {
    background-position: 60% 60%;
  }
}

@mixin col {
  svg {
    color: v.$icon;
  }
}
