$primaryBtn: #407cff;
$text: #232323;
$grayText: #516173;
$subtitleText: #9fa7bb;
$content: #fff;
$darkBg: #f9fafb;
$darkerBg: #f1f4f8;
$settingsBtn: #2f3748;
$border: #e2e7ee;

$space-1: 0.25rem; // 4px
$space-2: 0.5rem; // 8px
$space-3: 1rem; // 16px
$space-4: 1.5rem; // 24px
$space-5: 2rem;
